<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form method="post">
      <input type="text" name="name" id="name">
      <input type="email" name="email" id="email">
      <input type="password" name="password" id="password">
      <input type="gender" name="gender" id="gender">
      <input type="age" name="age" id="age">
      <button type="submit">Submit kardo</button>
    </form>
  </body>
</html>
